<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>
	<div class="container">
		<h1 class="display-4 my-2" th:text ="'Welcome ' + ${#authentication.getPrincipal().getFirstName()}"></h1>
		<hr>
		<div class="row">
			<div class="list-group list-group-flush col-5">
				<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/category-form}">Manage Category</a>
				<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/product-form}">Manage Product</a>
				<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/admin/add-user}">Add Admin/Manager</a>
				<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/admin/user-list}">User/Manager/Admin List</a>
					
			</div>
		</div>
	</div>
</body>
</html>